

.heroTitle {
  font-size: 50px;
  text-align: center;
  padding: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
  
}
header{
  background-color: white;
  height: 350px;
}

* {
  padding:0 ;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
 
  
}
.navBar {
  
  height: 80px ;
  width: 100%;
}
.logoType {
  width: 40px;
  height: 40px;
  margin-left: 30px ;
  margin-top: 15px;

}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  color: black;
}


.wrapper{
    width: 600px;
    height: 220px;
    display: flex;
    overflow: hidden;
    background: rgb(60, 62, 68);
    border-radius: 0.5rem;
    margin: 0.75rem 0.75rem 0.75rem 25rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
    box-sizing: inherit;
}
.showcaseWrapper{
  background-color: rgb(36,40,47);
  padding: 35px;
  

}
.showcaseInner{
  display: flex;
}
.imgWrapper img{
    width: 230px;
    height: 220px;
    margin: 0px;
    opacity: 1;
    
}
.contentWrapper{
    flex: 3 1 0%;
    position: relative;
    padding: 0.75rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
  
}
.section {
  font-size: 1.5rem;
  font-weight: 800;
}
.status{
  display: flex;
  font-size: 15px;
  font-weight: 500;
  
  
}
.statusIcon{
    
  height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(85, 204, 68);
    border-radius: 50%;
}
.redIcon{
  height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(214, 61, 46);
    border-radius: 50%;
}

a {
  color: rgb(255, 255, 255);
}

h4{
  font-size: 16px;
}
.textGrey{
  font-size: 20px;
}